<%- include('./partials/header.ejs') -%> 


<%- include('./partials/navbar.ejs') -%>

<p>
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea error quibusdam
  est quisquam facilis, eum obcaecati neque, quod in quidem, pariatur
  repudiandae assumenda sed sequi delectus adipisci laboriosam tempora. Cum.
</p>
<%- include('./partials/footer.ejs') -%>
