<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Home Page</title>
  </head>
  <body>
    <a href="/">Home Page</a>
    <a href="/about">About Page</a>
    <hr />
    <h1>Home Page</h1>
    <!--  -->
    <h2>This is a home page waya using ejs</h2>

    <!-- to add the local varbles in index.ejs -->
    <p><%= name %></p>
  </body>
</html>
