<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <!-- using express build to serve CSS -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- <link rel="stylesheet" href=".hello.css" /> -->
    <!-- use static way -->
    <!-- <link rel="stylesheet" href="/static/css/style.css" /> -->
  </head>
  <body>
    <h1>Home Page</h1>
    <!-- to server image -->
    <img src="images/pic.jpg" alt="myImage" />

    <!-- to serve javascript filse -->
    <script src="Js/app.js"></script>
  </body>
</html>
