<%- include("./partials/header.ejs") -%>
 <%- include("./partials/navbar.ejs")-%>
<div class="form-Container">
  <h1>Forgot Password</h1>
  <form action="" method="post">
    <label for="password">Old Password *</label>
    <input
      type="text"
      id="password"
      name="password"
      placeholder="Enter Old Password"
      required
    />
    <label for="password">New Password *</label>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="Enter New Password"
      required
    />
    <div class="text">
   
      <p class="login"><a href="/login">Log In?</a></p>
    </div>
    <button class="submitBtn" type="submit">Forgot Password</button>
  </form>
</div>
<%- include("./partials/footer.ejs") -%>
