<%- include("./partials/header.ejs") -%>

<%- include("./partials/navbar.ejs")-%>
<div class="form-Container">
  <h1>Registration Form</h1>
  <form method="post">
  

    <label for="name">Name *</label>
    <input
      type="text"
      id="name"
      name="name"
      placeholder="Enter Name"
      required

    
    />
    <label for="email">Email *</label>
    <input
      type="text"
      id="email"
      name="email"
      placeholder="Enter Email"
      required
   
    />
    <label for="password">Password *</label>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="Enter Password"
      required
     
    />
    <p class="login"><a href="/login">Log In?</a></p>
    <button class="submitBtn" type="submit">SignUp</button>
  </form>
</div>
<%- include("./partials/footer.ejs") -%>
