<%- include("./partials/header.ejs") -%>
<%- include("./partials/navbar.ejs") -%>
<div class="form-Container">
  <h1>Log In Form</h1>
  <form method="post">
    <label for="email">Email *</label>
    <input
      type="text"
      id="email"
      name="email"
      placeholder="Enter Email"
      required
    />
    <label for="password">Password *</label>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="Enter Password"
      required
    />
    <div class="text">
      <p class="login"><a href="/">SignUp</a></p>
      <p class="login"><a href="/forgot-password">ForgotPassword?</a></p>
    </div>
    <button class="submitBtn" type="submit">SignIn</button>
  </form>
</div>
<%- include("./partials/footer.ejs") -%>
