<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/registration">Registration</a></li>
    <li><a href="/login">Sign In</a></li>
    <li><a href="/login">Log Out</a></li>
  </ul>
</nav>
